       <section class="card">
  <a href="/product/{{id}}">
    <header>{{product_name}}</header>
    {{!-- <img src="/images/{{products.[0].parentFolder.filename}}" alt="{{products.[0].description}}"> --}}
  </a>
</section> 