<!DOCTYPE html>
<html lang="en">

<head>
<<<<<<< HEAD
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://*.paypal.com https://*.paypalobjects.com  ">
  <title>Pinko</title>
  <link rel="stylesheet" type="text/css" href="/jass.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
 
</head>

<body>
  
  <header class="homepage">
    <a href='/'>
    <h1>
      <img src="/Assets/logo.png" alt="Logo" style="width: 80px;" /> Pinko
    </h1>
    </a>
  </header>
    <nav>
    <a href="/about">About</a>
    <a href="/api/products">Products</a>
    <a href="/blog">Blog</a>
    <a href="/login">Login</a>
    <a href="/checkout">Checkout</a>
  </nav>
  <main class="main">
   
    {{{body}}}
  </main>
  <footer>
      
  </footer>

</body>

</html>





=======
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Pinterest</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="flex-column min-100-vh">
  <nav class="navbar">
    <ul>
      <li class="li-inline nav-item"><a href="/">Home</a></li>
      <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
      <li class="li-inline nav-item"><a href="/login">Login</a></li>
      <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
    </ul>
  </nav>
  <header class="hero">
    <h1 class="app-title"><a href="/">The Pinterest</a></h1>
  </header>

  <main class="col-auto">
    {{{body}}}
  </main>

  <button id="send">Send email now!</button>

  <footer class="flex-row justify-center">
    &copy; The Pinterest Folks
  </footer>
</body>

</html>
<script src="/js/logout.js"></script>
<script src="/js/email.js"></script>
>>>>>>> main
