 <div style="background-image: url('/Modals/abt2.jpeg');" "width: 20px;" >

    <h3>Welcome to the world of realization</h3>
    <h1>When it comes to getting the right outfit for your events and workdays, Pinko got your back.</h1>

    <nav>
     <a href="/login"><button>Join Pinko</button></a>
    </nav>
</div>
