<div class="container-fluid p-0">
    <h1> Welcome to pinko! Where you get ideas and inspiration for all your challenges. </h1>
            <a class="navbar-brand" href="./HomePage" id="brand">
                <img src="/Assets/ward.jpeg" alt="ward" style="width: 800px;" />
            </a>
<div>            
           